body {
  font-family: cursive;
  background-color: lightblue;
}

#index-body {
  background-image:url("img/resort1.jpeg");
}

#index-list {
  list-style-type:circle;
  margin: 40px;
  padding: 40;
  height: 200px;
  width:200px;
  background-color: #f1f1f1;
  font-size: 20px;
}
li a:hover{
  background-color: blue;
  color:red;
}
li {
  margin:10px;
}
#accom1{
  background-color: blue;
}

p {
  font-size: 20px;
}
#jump {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
